<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="http://www.gravatar.com/avatar/851479ab4794aa81ee680d50e5f26dfb?d=mm&s=128" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">Jon Fuller</a>.</h2>
  <hr/>
  <ul>
  <p>I make stuff.  Sometimes publicly.  Occasinally I write about it.</p>
  <p>
    I'm a Software Maker from Indiana and I create at <a href="http://www.sep.com/">SEP</a>.
  </p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
